{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="dashboard-layout">
    <div class="left-dashboard">
        <h2>Add {{ transaction_type|title }}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="type" value="{{ transaction_type }}">
            <button type="submit"; class="btn btn-primary">Save</button>
            <a href="{% url 'transactions:dashboard' %}" class="btn btn-secondary">Cancel</a>
        </form>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const transactionType = '{{ transaction_type }}';
                const categoryField = document.getElementById('id_category');
                
                if (categoryField) {
                    const categoryFieldContainer = categoryField.closest('p');
                    
                    if (transactionType === 'income') {
                        categoryFieldContainer.style.display = 'none';
                    } else {
                        categoryFieldContainer.style.display = 'block';
                    }
                }
            });
        </script>
    </div>
    <div class="right-dashboard">
        {% include 'transactions/edit_transaction_table.html' %}
    </div>
</div>
{% endblock %}