{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="dashboard-layout">
    <div class="left-dashboard">
        <img src="{% static 'images/logo.svg' %}" alt="logo" class="small-logo">
        <a href="{% url 'transactions:add_transaction' %}?type=income" class="btn">Add Income</a>
        <a href="{% url 'transactions:add_transaction' %}?type=expense" class="btn">Add Expense</a>
        <a href="{% url 'accounts:settings' %}" class="btn">Settings</a>
        <a href="{% url 'accounts:logout' %}" class="btn">Logout</a>
    </div>
    <div class="right-dashboard">
        {% include 'transactions/transaction_table.html' %}
    </div>
</div>
{% endblock %}