
<canvas id="incomeExpenseChart" width="300" height="300"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
 
    const incomeExpenseData = JSON.parse('{{ income_vs_expense|escapejs }}');
    const balance = {{ balance|floatformat:2 }};

    const centerTextPlugin = {
        id: 'centerText',
        afterDatasetsDraw(chart) {
            const { ctx, chartArea: { width, height } } = chart;
            const displayAmount = Number.isInteger(balance) 
                ? balance.toLocaleString() 
                : balance.toFixed(2).toLocaleString();

            ctx.save();
            ctx.font = '25px Arial';  // Font size for center text
            ctx.fillStyle = '#333';   // Font color
            ctx.textAlign = 'center';
            ctx.textBaseline = 'middle';
            ctx.fillText(displayAmount, width / 2, height / 2);  // Center the balance
            ctx.restore();
        }
    };

    Chart.register(centerTextPlugin);

    const data = {
        labels: incomeExpenseData.map(item => item.name),
        datasets: [{
            label: 'Amount',
            data: incomeExpenseData.map(item => item.value),
            backgroundColor: ['#98e098', '#ff9999'],  // Green for Income, Red for Expenses
            hoverBackgroundColor: ['#4CAF50', '#F44336'],
            borderWidth: 0.5
        }]
    };

    const config = {
        type: 'doughnut',
        data: data,
        options: {
            responsive: false,
            maintainAspectRatio: true,
            cutout: '70%',
            plugins: {
                legend: {
                    display: false
                }
            }
        },
        plugins: [centerTextPlugin]
    };

    const incomeExpenseChart = new Chart(document.getElementById('incomeExpenseChart'), config);

</script>
